* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);

html,
body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.infoName {
  color: #2b5876;
}

.btnPage {
  margin-top: 20px;
}

.btn-hover {
  width: 130px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 15px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color {
  background-image: linear-gradient(to right,
      #29323c,
      #485563,
      #2b5876,
      #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-hover.color-main {
  width: auto;
  padding: 5px 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed);
  box-shadow: 0 4px 5px 0 rgba(159, 182, 216, 0.75);
  transition: all 0.2s ease-in-out;
}


.winrate {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.winrate h3 {
  color: #29323c;
  margin-bottom: 10px;
}

.formSoLuong {
  display: flex;
  justify-content: space-around;
}

.form-input {
  background-color: #ecf0f3;
  border: none;
  outline: 0;
  border-radius: .5rem;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
  line-height: 1.2;
  padding: 8px 8px;
  font-size: 20px;
  margin-top: 20px;
  color: #29323c;
}

.inputRate {
  margin-left: 15px;
  max-width: 110px;
}

.form-control:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9 !important;
  background-color: #fff !important;
  border: none;
  outline: 0;
  color: #29323c;

}

.error {
  display: block;
}

.thongTin,
.ketQua {
  width: 600px;
  text-align: left;
}

.thongTin h4 {
  margin-top: 20px;
}
.btnkq{
  text-align: left;
}
.btnkq .btn-hover{
  box-shadow: none;
  cursor:default;
}
.table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.thead-dark {
  background-color: #485563;
  color: #fff;
  padding: 10px;
}

.thead-dark th {
  padding: 10px;
}
tbody th, tbody td {
  padding-left: 10px;
  border-bottom: solid 1px #afb7be;
}

.slipArr{
  display: flex;
  justify-content: space-between;
}
.nhomA, .nhomB {
  width: 80%;
}

.result.btn-hover{
  width: 20px;
  background-image: linear-gradient(to right,
  #29323c,
  #485563,
  #2b5876,
  #4e4376);
box-shadow: none;
cursor: default;
}